@model yogago.Models.Class

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Classid" />
            <div class="form-group">
                <label asp-for="Classname" class="control-label"></label>
                <input asp-for="Classname" class="form-control" />
                <span asp-validation-for="Classname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classdays" class="control-label"></label>
                <input asp-for="Classdays" class="form-control" />
                <span asp-validation-for="Classdays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classtime" class="control-label"></label>
                <input asp-for="Classtime" class="form-control" />
                <span asp-validation-for="Classtime" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="Imgcover" class="control-label"></label>
                <input asp-for="Imgcover" class="form-control" />
                <span asp-validation-for="Imgcover" class="text-danger"></span>
            </div>
 *@
            <div class="form-group">
                <label>Current Profile Picture</label>
                @if (!string.IsNullOrEmpty(Model.Imgcover))
                {
                    <img src="@Model.Imgcover" alt="Profile picture of" style="width: 100px; height: 100px; object-fit: cover;" />
                }
                else
                {
                    <span>No Image Uploaded</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="Imgcoverfile" class="control-label"></label>
                <input asp-for="Imgcoverfile" type="file" class="form-control" />
                <span asp-validation-for="Imgcoverfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoryid" class="control-label"></label>
                <select asp-for="Categoryid" class="form-control" asp-items="@(ViewData["Categoryid"] as SelectList)">
                    <option value="" disabled selected>Select a category</option>
                </select>
                <span asp-validation-for="Categoryid" class="text-danger"></span>
            </div>





            <div class="form-group">
                <input type="hidden" asp-for="Trainerid" value="@ViewBag.Trainerid" />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
