 @model yogago.Models.Contactu
@{
    Layout = "~/Views/Shared/_Home.cshtml";

}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Contact</h2>
            </div>
            <div class="col-12">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Home" asp-action="Contact">Contact</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Contact With Us</p>
            @* <h2>For Any Query</h2> *@
         </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.2s">
                        <i class="fa fa-map-marker-alt"></i>
                        <div class="contact-text">
                            <h2>Location</h2>
                            <p>11821 Mecca St. Amman, Jordan</p>
                        </div>
                    </div>
                    <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.4s">
                        <i class="fa fa-phone-alt"></i>
                        <div class="contact-text">
                            <h2>Phone</h2>
                            <p>+692 7883 18984</p>
                        </div>
                    </div>
                    <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.6s">
                        <i class="far fa-envelope"></i>
                        <div class="contact-text">
                            <h2>Email</h2>
                            <p>YooGACenter@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" method="post" asp-controller="Home" asp-action="Contact" id="contact Form" novalidate="novalidate">
                        <div class="control-group">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="control-group">
                                <input type="text" asp-for="Name" class="form-control" placeholder="Your Name" required="required" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Your Email" required="required" />
                            <span asp-validation-for="Email" class="text-danger"></span>    
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" asp-for="Subject" class="form-control" placeholder="Subject" required="required" />
                            <span asp-validation-for="Subject" class="text-danger"></span> 
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
<textarea asp-for="Message" class="form-control" placeholder="Message" required="required"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>   
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn" type="submit" id="send MessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
